<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="0866d435-55dc-49bc-ab05-07c5493a1f07" wadlVersion="http://wadl.dev.java.net/2009/02" name="WEBAPI" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="0866d435-55dc-49bc-ab05-07c5493a1f07fileName">WEBAPI</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://192.168.102.192</con:endpoint><con:endpoint>http://192.168.50.52:9000</con:endpoint></con:endpoints></con:interface>